<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7fgeBZEhvMAjiTs78gReUq-0HyKXV1Is&libraries=places"></script>
</head>
<body>
    <div id="map"></div>
    <button onclick="getMapCoordinates()">Get Map Coordinates</button>
    <script src="script.js"></script>  
</body>
</html>